@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --cinza-color:#6b778c;
    --cinza2-color: #f4f5f7;
    --azulF-color: #182b4d;
    --preto-color: #000;
    --branco-color: #fff;
    --titulo-color: #4d5c76;
    --conteudo-color: #dfe1e6;
    --solta-color: #ffdefe;
    --azulc-color: #c639c4;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
main {
    padding: 30px;
    user-select: none;
}
header > span {
    font-size: 0.85rem;
    font-weight: 700;
    color: var(--cinza-color);
    letter-spacing: 0.02rem;
}
header > h1 {
    color: var(--azulF-color);
    font-size: 2rem;
    font-weight: 600;
    margin-top: 5px;
}
.columns {
    display: flex;
    gap: 15px;
    margin-top: 50px;
}
.column {
    width: 100%;
    background-color: var(--cinza2-color);
    height: 100dvh;
    border-radius: 8px;
}
.column__title {
    color: var(--titulo-color);
    font-size: 0.9rem;
    font-weight: 700;
    margin: 20px;
}
.column__cards {
    padding: 4px;
    height: 100%;
    border-radius: 5px;
}
.card {
    width: 100%;
    min-height: 70px;
    background-color: var(--branco-color);
    border-radius: 5px;
    border: 1px solid var(--conteudo-color);
    box-shadow: 0 2px 2px var(--conteudo-color);
    padding: 12px 14px;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--titulo-color);
    margin-bottom: 5px;
}
.column--highligth {
    background-color: var(--solta-color);
    border: 2px solid var(--azulc-color);

}